body{
	 background-color: #DBF1F8;
}
.header,ul , li {
				  list-style-type: none;
                  margin: 10px 75px 20px 90px;
               	  border: 20px;
                  display: inline-block;

}



.header, .mainarea{
					background-color: #82CDE6;
					border-radius: 25px;
					border: 2px solid #265C6E;
					 
}

.mainarea{
			margin: 20px 100px 20px 100px;
			width: 80%;
			height: 1000px;
			padding: 20px;
			overflow: auto;
}

img{
      width: 75%;
      height:auto;
      margin: 10px 20px 10px 125px;
}

a{
	margin: 5px;
	color: blue;
    text-decoration: none;
    font-style: italic;
}

a:hover {
            color: purple;
}

p{
	text-align: center;
}